@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background-color: #f3f3f3;
}

@font-face {
  font-family: 'Rubik Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rubik Font'),
    url('../public/fonts/rubik/Rubik-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik Font'),
    url('../public/fonts/rubik/Rubik-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik Semibold';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Rubik Font'),
    url('../public/fonts/rubik/Rubik-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Rubik Bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Font'),
    url('../public/fonts/rubik/Rubik-Bold.woff2') format('woff2');
}

::-webkit-scrollbar {
  height: 12px;
  width: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border: 4px solid #fff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #61e7ff;
}

.dark .overflow-y-auto::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.2);
  border: 4px solid #121927;
}

